.card{
    height: 360px;
    width: 320px;
    border-radius: 20px;
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: gray 6px 0px 10px ;
    cursor: pointer;
}
.card>h1{
    font-size: 60px;
    font-weight: 400;
}
.card>p{
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.greet{
    width: 100%;
    padding: 50px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    line-height: 1.8;
}
.bold{
    font-weight: 500;
}