.lesson{
    width: 90%;

}

.lessonTitle{
    font-size: 30px;
    font-weight: 400;
    border-bottom: gray solid;
    margin-bottom: 2rem;
    margin: 50px 0px;
}

.lesson>p{
    width: 90%;
    text-align: justify;
}
.code{
    counter-reset: css-counter 0;
    margin: 40px 10px;
}
.code p{
    counter-increment: css-counter 1;
    border: rgb(179, 173, 173) solid 1px ;
}
.code p::before{
    content: counter(css-counter);
    border-right: rgb(179, 173, 173) solid 2px ;
    display: inline-block;
    width: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(136, 135, 135);
}
.code p:nth-child(odd){
    background-color: rgb(247, 244, 244);
}
.lesson>p{
    margin: 10px 0px;
}
@media screen and (max-width: 760px) {
    .info{
        width: 100%;
    }
}