.Unit{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: black solid ;
    padding: 40px 0px;
    flex-wrap: wrap;
}
.no-border{
    border: none;
}

.Unit>h1{
    width: 50%;
    font-weight: 400;
    font-size: 25px;
}

.lessons>p{
    width: 465px;
    margin: 15px 0px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 5px;
}
.lighter{
    font-weight: 300;
    color: rgb(250, 250, 250);
    
}
.lessons>p:hover{
    color: white;
    border: 2px solid black;
    background-color:  rgb(39, 38, 44);
}
.lessons>p:hover a{
    color: white!important;
}
.bold{
    font-weight: 500;
}
@media screen and (max-width: 760px) {
    .info{
        width: 100%;
    }

    .Unit>h1{
        width: 100%;
        text-align: center;
    }
    .lessons>p{
        width: 100%;
    }
    .title{
        text-align: center;
    }
}